
/*
*	Mega Level1
*/

.menusub_mega {
	display: none;
}
.menusys_mega {
	margin: 0;
	padding: 0;
	width: 100%;
}
#menusys_mega {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

#menusys_mega li {
	padding: 0; 
	margin:0;
	float: left;
	display: block;
	background: none;
}
#menusys_mega li a {
	margin:0;
	display: inline-block;
	text-decoration: none;
	cursor:pointer;
	position: relative;
	z-index: 999;
}
#menusys_mega  li .menu-title {
    padding: 5px 20px 5px 5px;
	line-height: 26px;
	display: block;
	color: #fff;
	width: auto;
	margin-left: 15px;
	font-size: 	133.3%;
	font-family:"Georgia";
}
#menusys_mega li:hover a,
#menusys_mega li a:hover,
#menusys_mega li a:active,
#menusys_mega li a:focus,
#menusys_mega li a.active,
#menusys_mega li a.active:hover,
#menusys_mega li a.active:active,
#menusys_mega li a.active:focus {
	background: none;
	
}
#menusys_mega li:hover .menu-title,
#menusys_mega li a:hover .menu-title,
#menusys_mega li a:active .menu-title,
#menusys_mega li a:focus .menu-title,
#menusys_mega li a.active .menu-title,
#menusys_mega li a.active:hover .menu-title,
#menusys_mega li a.active:active .menu-title,
#menusys_mega li a.active:focus .menu-title {
	color: #fff;
	background: none;
}

/*
*	Mega Level2
*/
#menusys_mega .menusub_mega {
	padding: 5px;
	z-index: 999;
	margin-top: -5px !important;
	margin-left: -7px !important;
}
#menusys_mega .submenu-wrap {float: left;}
#menusys_mega .menusub_mega .menusub_mega{
	margin: -50px 0px 0px 0px !important;
}

/*
*	Level2- Megagroup
*/
#menusys_mega .menu-desc{
	padding: 0 0px 5px 0;
	border: none;
	display: block;
	font-size: 110%;
	color: #575244;
}
#menusys_mega .menu-image {
	border: none;
	float: left;
	line-height: 44px;
	padding: 8px 0 0;
	margin-right: 3px;
}
#menusys_mega span.has-image {
	display: block;
	background-repeat: no-repeat;
	background-position: 2px 7px;
}
#menusys_mega ul.mega-ul a.item span.no-image,
#menusys_mega ul.mega-ul a.active span.no-image {
	display: block;
	background: url(../../images/mega/arrow1.png) no-repeat 5px -45px;
}
#menusys_mega ul.mega-ul a:hover span.no-image:hover{
	background: url(../../images/mega/arrow1.png) no-repeat 5px -45px;
}

#menusys_mega .menusub_mega div.mega-header{
	display: none;
}
#menusys_mega .menusub_mega .mega-group {
	padding-bottom: 3px;
	background: url(../../images/mega/group-line.png) no-repeat 0 bottom;
}
#menusys_mega .mega-group span.has-image,
#menusys_mega .mega-group span.no-image{
	margin: 0;
	padding: 3px 0 3px 10px;
	display: block;
}
#menusys_mega .mega-group span.has-image{
	padding: 3px 0 3px 25px;
	height: 25px;
}
#menusys_mega .widget-right .mega-group span.has-image {
	padding: 0 5px 0 50px;
	background-position: 0% 5px;
}
#menusys_mega li.hasChild .mega-group a{
	padding-left: 0;
	background: none !important ;
}

#menusys_mega li.hasChild .mega-group a .menu-title,
#menusys_mega li.hasChild .mega-group a:hover .menu-title,
#menusys_mega li.hasChild .mega-group a.active .menu-title{
	padding: 0;
	margin: 0;
	font-size: 133.3%;
	font-weight: normal;
	color: #efefec;
	background: none ;
	text-transform: none;
	font-family:"Georgia";
	line-height: 25px;
	
}


#menusys_mega .megacol {
	float: left;
	width: 170px;
	padding: 0px 10px;
	display: block;
}
#menusys_mega .megacol .megacol{padding: 0;}
#menusys_mega .megacol .megacol .megacol{padding: 0px;}
#menusys_mega .megacol ul li.hasChild .megacol{
	padding: 0px 10px;	
}
#menusys_mega .megacol ul {
	margin:0px;
	float:none;
}
#menusys_mega .megacol ul.mega-ul {
	padding: 5px 0;
	margin: 0;
}

#menusys_mega .megacol ul li.hasChild {
	background: url(../../images/mega/arrow-ltr.png) no-repeat 100% 7px;
}
#menusys_mega .menusub_mega .mega-module {
	clear: both;
	color: #fff;
	line-height: 20px;
}

#menusys_mega .megacol ul li {
	padding: 1px 0;
	float: none;
	display: block;
	background: none;
	border-bottom: 1px dotted #1d6cac;
}

/*
*	SubMega Level2
*/
#menusys_mega li.hasChild  ul a,
#menusys_mega li.hasChild  ul a.active,
#menusys_mega li.hasChild:hover ul a {
	padding-left: 0px;
	margin: 0;
	display: block;
	background: none;
	z-index: 9;
	position: static;
}

#menusys_mega li.hover ul.mega-ul a .menu-title,
#menusys_mega li.hasChild ul.mega-ul li a .menu-title,
#menusys_mega li.hasChild ul.mega-ul li a.active .menu-title,
#menusys_mega li.hasChild ul.mega-ul li a.focus .menu-title{
	line-height: 23px;
	height: 25px;
	margin: 0;
	padding: 0 0 0 15px;
	display: block;
	color: #ebeadc ;
	font-size: 100% ;
	font-weight: normal;
	text-transform: none;
	font-family:"Georgia";
	background: none ;
	text-shadow: 1px 1px 1px #256ba6;
}

#menusys_mega li.hasChild  ul a span.has-image .menu-title,
#menusys_mega li.hasChild:hover  ul a span.has-image .menu-title,
#menusys_mega li.hasChild  ul a:hover span.has-image .menu-title{
	padding: 0 0 0 25px;
	margin: 0;
	background: none;
}
#menusys_mega li.hasChild  ul a:hover ,
#menusys_mega li.hasChild  ul a:active,
#menusys_mega li.hasChild  ul a:focus,
#menusys_mega li.hasChild  ul.mega-ul  a.active:hover {
	text-decoration: none;
	margin: 0;
	display: block;
	background: #212121 ;
}

#menusys_mega li.hover  ul.mega-ul a:hover .menu-title,
#menusys_mega li.hasChild  ul.mega-ul a:hover .menu-title,
#menusys_mega li.hasChild  ul.mega-ul a:active .menu-title,
#menusys_mega li.hasChild  ul.mega-ul a:focus .menu-title,
#menusys_mega li.hasChild  ul.mega-ul a.active:hover .menu-title{
	color: #ffde00;
	text-shadow: none;
	margin: 0;
	padding: 0 0 0 15px;
	background: none;
}

/*** Add New Mega round **/
div.subwraptop{
	position: relative;
	margin: 0 20px;
	height: 20px;
	background: url(../../images/mega/mega-bg.png) repeat-x left -60px; ;
}
div.subwraptop-left{
	left: -20px;
	height: 20px;
	width: 20px;
	position: absolute;
	width: 100%;
	background: url(../../images/mega/mega-bg.png) no-repeat left 0px; ;
}
div.subwraptop-right{
	right: -20px;
	height: 20px;
	width: 20px;
	position: absolute;
	background: url(../../images/mega/mega-bg.png) no-repeat right -30px; ;
}
div.subwrapcenter-left{
	padding-left: 13px;
	display: block;
	float: left;
	background: url(../../images/mega/mega2-bg.png) repeat-y left 0;
}
div.subwrapcenter-right{
	padding-right: 12px;
	display: block;
	float: left;
	background: url(../../images/mega/mega3-bg.png) repeat-y right 0;
}
div.subwrapcenter{
	display: inline-block;
	float: left;
	background: #2c80c6 url(../../images/mega/mega-bg.png) repeat-x left -180px;
}
div.subwrapbottom{
	position: relative;
	margin: 0 20px;
	height: 20px;
	clear: both;
	background: url(../../images/mega/mega-bg.png) repeat-x left -150px; ;
}
div.subwrapbottom-left{
	left: -20px;
	height: 20px;
	width: 20px;
	position: absolute;
	background: url(../../images/mega/mega-bg.png) no-repeat left -90px; ;
}
div.subwrapbottom-right{
	right: -20px;
	height: 20px;
	width: 20px;
	position: absolute;
	background: url(../../images/mega/mega-bg.png) no-repeat left -120px; ;
}